
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    color: #111;
    line-height: 1.4;
}

.navbar {
    background: #131921;
    padding: 12px 20px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.logo .dot {
    color: #febf03;
}

.search {
    display: flex;
    width: 45%;
    max-width: 500px;
}

.search-bar {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px 4px 4px 4px;
    outline: none;
}

.search-btn {
    background: #febd69;
    border: none;
    padding: 8px 16px;
    margin-left: 50px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.signin,
.cart {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}


.main-container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 200px;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    height: 100;
}

.sidebar h3 {
    margin-bottom: 12px;
    font-size: 1.1rem;
    color: #333;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 8px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #eb00fc;
    transform: translateX(6px);
    font-weight: bold;
}

.product-grid {
margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    transition: 0.3s;
    position: relative;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.product-card img {
    height: 200px;
    border-radius: 6px;
    margin-bottom: 8px;
}
.text{
position: absolute;
width: 90%;
bottom: 10px;
}

.price {
    font-weight: bold;
    margin: 6px 0;
}


.btn {
    background: #febd69;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #f3a847;
}


.site-footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background: #131921;
    color: #fff;
}

h4,p,button{
    padding-bottom: 0px;
}