/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    color: #111;
}


.sidebar {
    width: 230px;
    background: #1b1919;
    border-right: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 20px;
}

.logo {
    font-size: 28px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.menu-item {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

.menu-item:hover {
    color: #0a66c2;
}


.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #b18c8c;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 25px;
}

.top-left {
    font-weight: 500;
}

.top-right button {
    border: none;
    border-radius: 20px;
    padding: 7px 14px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.login {
    background-color: #111;
    color: #fff;
}

.signup {
    background-color: black;
    border: 1px solid #352c2c;
     color: #fff;
}

.top-left{
     background-color: black;
    border: 1px solid #352c2c;
     color: #fff;
     padding: 8px;
    border: none;
    border-radius: 20px;
}


.center-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.center-content h1 {
    font-size: 1.8rem;
    font-weight: 500;
}


.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #292626;
    border-radius: 50px;
    padding: 10px 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(180, 29, 29, 0.05);
    background-color: #000000;
}

.input-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 8px 10px;
    background: transparent;
    color: aliceblue;
}

.plus {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #666;
}

.mic {
    background: #cfc4c4;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}


