.menu {
    text-align: center;
    margin: 1rem;
    padding: 4px;
}

.circle-button {
    background-color: black;
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.menu2 {
    text-align: center;
    margin: 1rem;
    padding: 4px;
}

.square-button {
    background-color: black;
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
 

}