body {
    padding: 0;
    margin: 0;
}

.flex-item {
    display: flex;
    background-color: aqua;
    width: 100px;
    margin: 20px;
    padding: 20px;
    text-align: center;
   

}

.flex-container {
    background-color: goldenrod;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: first baseline;

    
}
